.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}
.container #flip:checked ~ .forms .login-form {
  pointer-events: none;
}
.container .cover .front,
.container .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back {
  transform: rotateY(180deg);
}
.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.container .cover .text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .cover .text::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #7d2ae8;
}
.cover .text .text-1,
.cover .text .text-2 {
  z-index: 20;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}
.container .forms {
  height: 100%;
  width: 100%;
  background: transparent;
}
.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title {
  margin: 0 auto; 
  text-align: center; 
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: transparent;
  
}
.forms .signup-form .title:before {
  width: 20px;
}
.forms .form-content .input-boxes {
  margin-top: 30px;
}
.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50%;
  margin: 10px auto;
  position: relative;
}
.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #7d2ae8;
}
.form-content .input-box i {
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a {
  text-decoration: none;
}
.forms .form-content .text a:hover {
  text-decoration: underline;
}
.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input {
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover {
  background: #5b13b9;
  
}
.forms .form-content label {
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover {
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}
.container #flip {
  display: none;
}
@media (max-width: 730px) {
  .container .cover {
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }
  .form-content .signup-form {
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form {
    display: block;
  }
  .container #flip:checked ~ .forms .login-form {
    display: none;
  }
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/ljubicasto.avif') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5; /* Transparentnost slike */
  z-index: -1; 
}



.header {
  background-color: transparent;
  border-bottom: 5px solid #a37fcb; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 30px;
  color: rgb(88, 7, 168);
  border-radius: 0 0 15px 15px; 
}

.header-left {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex; 
  align-items: center; 
}

.header-left img {
  margin-right: 10px; 
}

.header-right {
  display: flex; 
  align-items: center; 
}

.header-right a, .header-right button {
  margin-left: 15px; 
  text-decoration: none; 
  color: rgb(88, 7, 168);
  background: none; 
  border: none;
  font-size: 16px;
  cursor: pointer; 
}

.header-right a:hover, .header-right button:hover {
  color: #ca98ec; 
}
.logout-form button {
  padding: 8px 20px;
  background-color: white; 
  border: 2px solid #3f3c41; 
  border-radius: 20px; 
  color: #6a0dad; 
  font-size: 14px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.logout-form button:hover {
  background-color: #6a0dad; 
  color: white; 
}


.jumbotron {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  padding: 4rem 2rem;
  position: relative;
  z-index: 1;
}

.jumbotron::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/teretana.jpg'); /* Tvoja slika */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%) opacity(90%); /* Tamnija slika i malo veća neprozirnost */
  z-index: -1;
}

.jumbotron .btn {
  border-radius: 50px; 
  padding: 8px 20px; 
  font-size: 16px;
  font-weight: 600; 
  background-color: #7d2ae8; 
  color: white;
  border: none; 
  text-decoration: none; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.jumbotron .btn:hover {
  background-color: #5b13b9; 
  transform: scale(1.05);
}

.jumbotron .btn:focus {
  outline: none; 
}
